# System files
.DS_Store
.history

# Project specific directories
Input/
Output/
checkpoints/
LymphoMNIST/
bac/
inference_output/
visualizations/

# Python
__pycache__/
*.pyc

# Output files
*.csv
*.txt
!requirements_min.txt
!requirements_all.txt
